<!DOCTYPE html>

<html>

<head>
    <title>Rohan Yadav</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">
        <p>For more information please visit <a href="https://rohanyadav420.github.io/">My Portfolio</a></p>
    </div>

    {{>footer}}
</body>

</html>